@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0e17;
  --foreground: #e5e7eb;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .skeleton {
    @apply animate-pulse rounded bg-dark-600;
  }
}
